* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrap {
    height: 100%;
    width: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-wrap {
    width: 900px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 60%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
#button2 {
    width: 12%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    float: right;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 5px;
}
h2{
    font-family: sans-serif;
    padding: 20px 0 10px 20px ;
}
hr{
    margin-bottom: 10px;
}
table {
    width: 700px;
    text-align: left;
    border: 1px solid #fff;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin: auto;

}
th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
button{
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    border-right: 0;
    border-bottom: 0;
    border-width: 1px;
    background-color: #fff;
}

